/* ---------------------------------------- */
/* MAIN */
/* ---------------------------------------- */
html, body {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #e6e6e6;
}

/* ---------------------------------------- */
/* REUSABLE */
/* ---------------------------------------- */
/*
black light: #212121
black dark: #1c1c1c
border: #333
green: #009688
white: #e6e6e6
paragraph gray: #b3b3b3
*/

.section {
    padding: 0 20px 120px 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 70px;
    color: #e6e6e6;
}

h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #009688;
    margin: 20px auto; }

p {
    padding: 20px;
    text-align: left;
    font-style: italic;
    font-size: 95%;
}

/* ---------- Underline From Center ---------- */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #009688;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.logo-button {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 60px;
}

/* ---------- Sliding buttons ---------- */
.button-slide-to-right {
    color: #009688;
    background: #212121;
    border: 1px solid #009688;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e6e6e6;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.button-slide-to-right:hover {
    box-shadow: inset 220px 0 0 0 #009688;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
}

.button-slide-to-left {
    color: #009688;
    background: #212121;
    border: 1px solid #009688;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e6e6e6;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.button-slide-to-left:hover {
    box-shadow: inset -220px 0 0 0 #009688;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
}

.button-slide-to-all {
    color: #009688;
    background: #212121;
    padding: 17px;
    border: 1px solid #009688;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e6e6e6;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.6s;
    word-spacing: normal;
    vertical-align: middle;
}
.button-slide-to-all:hover {
    box-shadow: inset 0 0 100px 0 #009688;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.button-confirm {
    color: #009688;
    background: #212121;
    border: 1px solid #009688;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e6e6e6;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
    width: 120px;
    height: 50px;
}
.button-confirm:hover {
    box-shadow: inset 0 0 220px 0 #009688;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
}

/* ---------------------------------------- */
/* HOME SECTION */
/* ---------------------------------------- */
.home {
    height: 100vh;
    background-color: rgba(21, 21, 21, 0.85);
}

/* ---------- Video ---------- */
.home video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/* ---------- Navbar ---------- */
nav {
    padding-top: 40px;
    background-color: transparent !important;
    border-color: transparent !important;
    width: 816.5px;
    margin: 0 auto;
    font-size: 130%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
    color: #e6e6e6;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e6e6e6;
}

.navbar-default .navbar-nav>.active>a {
    color: #009688;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #009688;
}

.nav>li>a {
    padding: 25px;
}

/* ---------- Header text ---------- */
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    font-weight: 300; 
    color: #e6e6e6;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    width: 100%;
    text-align: center;
}

.header-text a,
.header-text a:visited {
    text-decoration: none;
    color: #009688;
}

.sub-text {
    font-size: 2vw;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #009688;
    margin-bottom: 60px;
}

/* ---------- Scroll down button ---------- */
.ion-chevron-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%);
    color: #e6e6e6;
    transition: 0.2s;
}

.ion-chevron-down:hover {
    color: #009688;
    cursor: pointer;
}

/* ---------------------------------------- */
/* ABOUT SECTION */
/* ---------------------------------------- */
.about-me {
    padding: 90px 20px 120px;
    background-color: #1c1c1c;
    color: #b3b3b3;
    text-align: center;
    border-top: 1px solid #333;
}

.ion-person, .ion-code, .ion-planet {
    font-size: 50px;
    color: #009688;
}

/* ---------------------------------------- */
/* TOOLS SECTION */
/* ---------------------------------------- */
.tools {
    position: relative;
    padding: 0 0 120px 0;
    background-color: #1c1c1c;
    display: flex;
    align-items: center; 
}

.tools .col-sm-3 {
    height: 150px;
}

.tools-imgs {
    width: 60%;
    margin: auto;
}

.tools-right {
    padding: 60px 0;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #212121;
}

#tools-logo {
    display: block;
    margin: 0 auto;
    width: 380px;
}

/* ---------------------------------------- */
/* CONTACT SECTION */
/* ---------------------------------------- */
.contact {
    position: relative;
    padding: 0 0 120px 0;
    background-color: #1c1c1c;
    display: flex;
    align-items: center; 
}

.contact-left {
    padding: 60px 0;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #212121;
}

#contact-logo {
    display: block;
    margin: 0 auto;
    width: 380px;
}

/* Form */
.form-control {
    width: 40%;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #555;
    text-align: center;
    color: white;
    font-size: 100%;
}

#message {
    margin-top: 40px;
    border: 1px solid #555;
    max-width: 70%;
    max-height: 500px;
}

.button-form {
    display: block;
    margin: 40px auto 10px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control:focus {
  border-color: #009688;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message:focus {
    border-color: #009688;
}

/* ---------------------------------------- */
/* TUTORIALS SECTION */
/* ---------------------------------------- */
.tutorials {
    position: relative;
    padding: 0 0 120px 0;
    background-color: #1c1c1c;
    display: flex;
    align-items: center 
}

.tutorials-center {
    background-color: #212121;
    border: 1px solid #333;
}

.tutorials-center img {
    display: block;
    margin: 0 auto 70px;
    padding: 20px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.tutorials-center img:hover {
    border: 2px solid #009688;
    cursor: pointer;
}

/* ---------------------------------------- */
/* MY LINKS */
/* ---------------------------------------- */
.my-links {
    position: relative;
    padding: 0;
    background-color: #1c1c1c;
    display: flex;
    align-items: center 
}

#my-photo {
    display: block;
    margin: 15px auto;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #009688;
    opacity: 0.5;
    transition: 0.5s;
}

#my-photo:hover {
    opacity: 1;
}

.social-networks-links {
    padding: 0 0 120px 0;
    background-color: #1c1c1c;
    text-align: center;
}

.social-networks-links i {
    display: inline-block;
    width: 50px;
    font-size: 35px;
    padding: 10px 0;
    margin: 0 10px;
    color: #555;
    transition: 0.5s;
}

.social-networks-links i:hover {
    color: #009688;
    cursor: pointer;
}

/* ---------------------------------------- */
/* LOCATION */
/* ---------------------------------------- */
.location {
    padding: 0;
    background-color: #1c1c1c;
    border-bottom: 1px solid #333;
}

.map {
    width: 100%;
    padding: 0;
    height: 400px;
    opacity: 0.8;
    transition: 0.5s;
}

.map:hover {
    opacity: 1;
}

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */


footer {
    background-color: #0d0d0d;
    padding: 50px;
    font-size: 80%;
    color: #333;
}

footer p {
    font-style: normal;
    padding-top: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link, .social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook, .ion-social-twitter, .ion-social-googleplus, .ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #125688;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

footer ul {
    margin-right: 50px;
}

/* ---------------------------------------- */
/* ANIMATIONS */
/* ---------------------------------------- */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated {
    opacity: 1;
}







